project/.actionScriptProperties
project/.project
project/.settings/org.eclipse.core.resources.prefs
project/bin/FlxMovieClip/DemoProject.zip
project/bin/FlxMovieClip/Installation & Usage.txt
project/bin/Main.html
project/bin/Main.swf
project/bin/build_docs.sh
project/bin/docs/
project/html-template/swfobject.js
